%h1 Найближчі школи
.container
  .row
    .col-xs-12.col-sm-12
      %ul.event-list
        - @events.each do |event|
          %li
            %time{:datetime => "2014-07-20"}
              %span.day 4
              %span.month Jul
              %span.year 2014
              %span.time ALL DAY
            %img{:alt => "My 24th Birthday!", :src => "https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg"}/
            .info
              %h2.title= event.title
              %p.desc= event.description
              %ul
                %li{:style => "width:50%;"}
                  = link_to 'Зареєструватися', new_appointment_path( :event_id => event.id), class: 'btn btn-defaul'
                %li{:style => "width:50%;"}
                  = link_to 'Карта', edit_event_path(event)
            / .social
            /   %ul
            /     %li.facebook{:style => "width:33%;"}
            /       %a{:href => "#facebook"}
            /         %span.fa.fa-gears
     