-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to authenticated_root_path do
        = image_tag 'icon.png'
    #navbar.collapse.navbar-collapse
      %h1.name-site Реєстрація на Школу Християнського Життя і Євангелізації Святої Діви Марії з Назарету Матері Церкви(Львівська філія)
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'


