-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Школа Марії', authenticated_root_path, class: 'navbar-brand'
      /= image_tag 'ikona-duch3.png'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'


